@charset "UTF-8";
/*フォント*/
/* ウィジェット500、800が使える？ */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');
body {
  font-family: 'Zen Maru Gothic', serif;
  /* Webフォントの指定 */
  font-weight: 500;
  transform: rotate(0.03deg);
  /* シャギーを防ぐ指定 */
  background-color: #fffcf1;
  /* 背景色指定 */
  margin: 0px;
}

.main{
  color:#555533
}
header{
  margin-top:-5%;
  margin-bottom: 120%;
}
footer{
  color:#F0EDDF;
  margin-top: 5%;
}

.profile{
  margin-bottom: 20%;
}

li{
  list-style:none;
}


/*横スクロールを禁止する*/
html,body {
  overflow-x: hidden;
}

/*行間隔を揃える*/
p {
  margin-bottom: 0;
}

.item{
  display:inline-block;
  padding-top: 3%;
  padding-bottom: 0;
  font-weight:bold;
    background:linear-gradient(transparent 70%, #99cc99 0%);
}

/*画像処理*/
.green-shadow{
  filter: drop-shadow(0px 0px 5px rgba(120, 160, 120, 1.0));
}
.bird:hover img{
transform: scale(1.1);
}
.bird:hover .hover-image {
  display: block; /* ホバー時に新しい画像を表示 */
}
.bird .hover-image {
  display: none; /* 通常は新しい画像を非表示 */
}



/*-----------------------*/
/*背景の処理*/
/*-----------------------*/
.box{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}
/* ドット斜め */
.bg_skew_dot{
  background-image:
    radial-gradient(#c6bc9025 20%, transparent 0%),
    radial-gradient(#c6bc9015 18%, transparent 0%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}


/*-----------------------*/
/*トップページへ戻る*/
/*-----------------------*/


/*-----------------------*/
/*details*/
/*-----------------------*/
/* 開いている状態 */
details[open] .close {
	display: none ;
}
/* 閉じている状態 */
details:not([open]) .open {
	display: none ;
}

/*details内の行間隔調整*/
.details {
  line-height: 2; 
}

/*detailsの三角形削除*/
summary {
  display: block;
  list-style: none;
}
summary::-webkit-details-marker {
  display:none;
}


/*アコーディオンアニメーション*/
button, details { width: 25rem; }
  button { font-family: inherit; font-size: inherit; }
  details {
  height: var(--collapsed);
  overflow: hidden;
  transition: height 300ms cubic-bezier(0, 0, 0, 0);
  }
  details[open] {
  height: var(--expanded);
  }
/*参考URL：http://kachibito.net/css/details-animation*/




/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;/*矢印の色*/
  border-right: 2px solid #666;/*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}
.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}


/*-----------------------*/
/*ページトップボタン*/
/*-----------------------*/
#page-top {
  position: fixed;
  right:-30%;
top:100%;
  opacity: 0.9;
}

#page-top a {
  position: relative;
  display: block;
  width: 20%;
  height: 20%;
  text-decoration: none;
}

#page-top img {
  width: 200%; /* 画像をボタンのサイズに合わせる */
  height: 200%;
}




/*横からアニメーション*/
#wrap {
  position: relative;
  overflow: hidden;
  width: 800px; /* コンテナの幅を設定 */
  margin: 0 auto;
}

.slideConts {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 2.0s;
}

.slideContsL {
  transform: translate(-800px, 0); /* 初期位置を左に移動 */
}

.slideContsL.show {
  transform: translate(0, 0) !important; /* 表示時の位置を調整 */
}

.slideContsR.show {
  transform: translate(0, 0) !important; /* 表示時の位置を調整 */
}


/*フェード*/
.fadeConts {
  
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.5s;
}
.fadeConts.show {
  opacity: 1;
}

/*スライド*/
.wrap {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.slideshow {
  display: flex;
}
.slide-content {
  width: 500px;
  height: 300px;
}


.slideshow {
  display: flex;
  animation: loop-slide 50s infinite linear 1s both;
}
@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ホバー時に動きを止める（パターン2・3）*/
.slide-paused:hover .slideshow {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* ホバー時の装飾（パターン3） */
.slide-content-hover {
  transition: all 0.2s;
  margin-right: 20px;
}
.slide-content-hover:hover {
  transform:scale(95%);
  border-radius: 0 10%;
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
}

.animation{
animation-name: loop-slide;/* アニメーション名 */
animation-duration: 20s;/* 開始から終了までの所要時間 */
animation-iteration-count: infinite;/* アニメーションのループ回数 */
animation-timing-function: linear;/* 動きの加減速 */
animation-delay: 1s;/* アニメーションが開始するまでの遅延時間 */
animation-fill-mode: both;            /* アニメーション開始前・終了後の挙動 */
}


/*-----------------------*/
/*画像スライダー*/
/*-----------------------*/
section {
  background-color: #dcd9cb50;
  padding: 10% 0;
}

.container {
  max-width: 100%px;
  margin: 0 auto;
  padding: 0 5%;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 5%;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(124, 178, 124, 1.0);
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(124, 178, 124, 1.0);
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(124, 178, 124, 1.0);
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(124, 178, 124, 1.0);
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(124, 178, 124, 1.0);
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(124, 178, 124, 1.0);
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc(2 / 3 * 100%);
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-start;
  padding: 20px 50px 0 20px;
  flex: 0 0 auto;
  width: 100%;
  min-width: 40%;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 5%;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc(16.6666666667% - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc(1 / 1 * 100%);
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 参考サイト：https://webdesignfacts.net/entry/css-carousel8/#gsc.tab=0 */

